<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{thingId ? "Mettre à jour : ":"Créer un : "}} <span *ngIf="hall">{{hall?.name}}</span></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab (click)="addNewProperties()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-list #list *ngIf="hall">
    <ion-item>
      <ion-label>Nom du Hall</ion-label>
      <ion-input type="text" [(ngModel)]="hall.name"></ion-input>
    </ion-item>
    <icon-type label="Icone" [(value)]="hall.icon"></icon-type>
    <color-type label="Couleur d'arrière plan" [(value)]="hall.color"></color-type>
    <ion-toolbar>
      <ion-buttons right>
        <button ion-button (click)="toggleReorder()">
          <ion-icon name="reorder"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Propriètés</ion-title>
      <ion-buttons left>
        <button ion-button color="primary" solid (click)="addNewProperties($event)" #add>
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
    <ion-item-group [reorder]="reorder" (ionItemReorder)="reorderItems($event)">
      <ion-item-sliding *ngFor='let property of hall.properties'>
        <ion-item>
          <ion-icon [name]="property.displayInList?'checkbox':'square-outline'" item-left (click)="toggleDisplayInList(property)"></ion-icon>
          <h1>{{property.label}}</h1>
          <p>{{'PropertyType.'+property.type | translate}}</p>
          <ion-note item-right>
           {{property.name}}
           </ion-note>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteProperties(property)">
            <ion-icon name="delete"></ion-icon>
            Supprimer
          </button>
          <button ion-button color="primary" (click)="editProperties(property)">
            <ion-icon name="create"></ion-icon>
            Modifier
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
    <ion-toolbar>
      <ion-title>Visible sur la liste</ion-title>
      <ion-buttons left>
          <ion-icon name="arrow-up"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
    <button ion-button full (click)="save()">Mettre à jour</button>
  </ion-list>
</ion-content>
