<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ma musique</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab right bottom>
   <button ion-fab><ion-icon name="add"></ion-icon></button>
 </ion-fab>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-avatar item-left>
        <img [src]="item.picture">
      </ion-avatar>
      <h2>{{item.title}}</h2>
      <h3>{{item.author}}</h3>
      <p>{{item.album}}</p>
      <div class="item-note" item-right>
        {{item.year}}
      </div>
      <div class="item-note" item-right>
        <ion-icon *ngFor="let rate of [1,2,3,4,5]" [name]="rate <= item.note ? 'star' : 'star-outline'"></ion-icon>
      </div>
    </button>
  </ion-list>
</ion-content>
