<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Créer une entité</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label stacked>Donner un nom</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Choisissez une icone</ion-label>
      <ion-select [(ngModel)]="icon">
        <ion-option *ngFor="let p of templates" [value]="p.icon">{{p.icon}}</ion-option>
      </ion-select>
    </ion-item>
    <button ion-item (click)="openSettings()">
      <ion-icon name="plus" item-left></ion-icon>
      Créer
    </button>
    <ion-list-header>
      Préconfiguré
    </ion-list-header>
    <ion-item *ngFor="let p of templates">
      <ion-icon [name]="p.icon" item-left></ion-icon>
      {{p.name}}
    </ion-item>
  </ion-list>
</ion-content>
