<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{thingId ? "Mettre à jour : ":"Créer un : "}} <span *ngIf="hall">{{hall.name}}</span></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab (click)="editProperties()"><ion-icon name="build"></ion-icon></button>
  </ion-fab>
  <ion-list>
    <ng-container *ngFor='let property of hall.properties'>
      <div [ngSwitch]="property.type">
        <ng-container *ngSwitchCase="'TEXT'">
          <text-type [label]="property.label" [(value)]="thing.values[property.name]"></text-type>
        </ng-container>
        <ng-container *ngSwitchCase="'NUMBER'">
          <number-type [label]="property.label" [(value)]="thing.values[property.name]"></number-type>
        </ng-container>
        <ng-container *ngSwitchCase="'YEAR'">
          <datetime-type [label]="property.label" format="YYYY" [(value)]="thing.values[property.name]"></datetime-type>
        </ng-container>
        <ng-container *ngSwitchCase="'DATE'">
          <datetime-type [label]="property.label" format="DD/MM/YYYY" [(value)]="thing.values[property.name]"></datetime-type>
        </ng-container>
        <ng-container *ngSwitchCase="'DATETIME'">
          <datetime-type [label]="property.label" format="DD/MM/YYYY HH::mm" [(value)]="thing.values[property.name]"></datetime-type>
        </ng-container>
        <ng-container *ngSwitchCase="'ICON'">
          <icon-type [label]="property.label" [(value)]="thing.values[property.name]"></icon-type>
        </ng-container>
        <ng-container *ngSwitchCase="'TEXTAREA'">
          <textarea-type [label]="property.label" [(value)]="thing.values[property.name]"></textarea-type>
        </ng-container>
        <ng-container *ngSwitchCase="'COLOR'">
          <color-type [label]="property.label" [(value)]="thing.values[property.name]"></color-type>
        </ng-container>
      </div>
    </ng-container>
    <button ion-button full (click)="save()" [disabled]="!hall.type">{{thingId ? "Mettre à jour":"Créer"}}</button>
  </ion-list>
</ion-content>
