<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{thingId ? "Mettre à jour : ":"Créer un : "}} <span *ngIf="hall">{{hall.name}}</span></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab (click)="editProperties()"><ion-icon name="build"></ion-icon></button>
  </ion-fab>
  <ion-list>
    <ng-container *ngFor='let property of hall.properties'>
      <div [ngSwitch]="property.type">
        <text-type *ngSwitchCase="'TEXT'" [label]="property.label" [(value)]="thing.values[property.name]"></text-type>
        <number-type *ngSwitchCase="'NUMBER'" [label]="property.label" [(value)]="thing.values[property.name]"></number-type>
        <datetime-type *ngSwitchCase="'YEAR'" [label]="property.label" format="YYYY" [(value)]="thing.values[property.name]"></datetime-type>
        <datetime-type *ngSwitchCase="'DATE'" [label]="property.label" format="DD/MM/YYYY" [(value)]="thing.values[property.name]"></datetime-type>
        <datetime-type *ngSwitchCase="'DATETIME'" [label]="property.label" format="DD/MM/YYYY HH::mm" [(value)]="thing.values[property.name]"></datetime-type>
        <icon-type *ngSwitchCase="'ICON'" [label]="property.label" [(value)]="thing.values[property.name]"></icon-type>
        <textarea-type *ngSwitchCase="'TEXTAREA'" [label]="property.label" [(value)]="thing.values[property.name]"></textarea-type>
        <color-type *ngSwitchCase="'COLOR'" [label]="property.label" [(value)]="thing.values[property.name]"></color-type>
        <picture-type *ngSwitchCase="'PICTURE'" [label]="property.label" [(value)]="thing.values[property.name]"></picture-type>
      </div>
    </ng-container>
    <button ion-button full (click)="save()" [disabled]="!hall.type">{{thingId ? "Mettre à jour":"Créer"}}</button>
  </ion-list>
</ion-content>
